{% set compile = false %}

{% if tmpl is defined and tmpl == true %}
    {% set compile = true %}
{% endif %}

<div class="stock-price-block">
    <span class="last-price">{{ current_price|compile_tmpl(compile) }}</span>
    <span class="change">-0.61 (-2.22%)</span>
    <div class="text-left" style="margin-top: -8px;">
        <span class="updated-at">At close:  4:01PM EDT</span>
    </div>
</div>
<div class="stock-buttons-block">
    <button class="js-stock-buy btn btn-success pull-left" style="width: 80px;" role="buy">{{ 'Buy'|trans }}</button>
    <button class="js-stock-sell btn btn-danger pull-right" style="width: 80px;" role="sell">{{ 'Sell'|trans }}</button>
</div>
