{% set compile = false %}

{% if tmpl is defined and tmpl == true %}
    {% set compile = true %}
{% endif %}

<table class="table table-responsive no-border no-margin">
    <tbody>
    {% for row in rows %}
        <tr>
            <td scope="key">{{ row.key|trans }}</td>
            <td scope="value">
                {% if row.render is defined and row.render == 'decimal' %}
                    {{ row.value|compile_decimal_tmpl(compile) }}
                {% else %}
                    {{ row.value|compile_tmpl(compile) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
