{% extends 'base.html.twig' %}

{% block page_title %}{{ 'Welcome Investment Manager'|trans|title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'default/partial/stock-movers.html.twig' %}
        </div>
        <div class="col-md-6">
{#            {% include 'default/partial/stock-movers.html.twig' %}#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'Components/Panel/panel-table-scripts.html.twig' %}
    {% include 'default/partial/stock-movers-scripts.html.twig' %}

    <script>
        $(document).ready(function() {
            let stockMoversDailyPanelTable = createStockMoversDaily("{{ stock.movers.daily.entity_name|trans|lower }}");

            stockMoversDailyPanelTable.render();
            stockMoversDailyPanelTable.loadRows()
        });
    </script>
{% endblock %}
