.js-wallet-info-header {

  .info-box-icon {
    width: 85px;
    height: 105px;
  }

  .info-box {
    min-height: 104px;

    .info-box-content {
      padding: 5px 10px 5px 10px;

      .info-box-text {
        font-size: 12px;
      }

      .row {
        display: flow-root;
      }

      .separator {
        height: 10px;
      }
    }
  }

  .info-box-number {
    font-size: 16px;
  }

  .js-wallet-pbenefits {
    font-size: 22px;
    position: absolute;
    left: 24px;
    bottom: -12px;
  }
}

table.dividend-two-year {
  .info-box-number {
    font-size: 14px;
  }
}

