<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {% block modal_title %}{{ modal_title }}{% endblock %}
        </div>
        <div class="modal-body">
            {% block modal_body %}{{ modal_body }}{% endblock %}
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
