<div class="row">
    <div class="col-md-12">
        <div class="box js-position-panel">
            <div class="box-header no-border">
                <h3 class="box-title">{{ 'Positions'|trans }}</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% embed 'Components/Panel/panel-table.html.twig' with {
                    'entity_name': wallet_position_entity_name,
                    'fields': wallet_position_fields,
                    'js_panel_class': 'js-position-panel-box',
                    'border': 0,
                    'buttons': wallet_position_buttons,
                }%}
                {% endembed %}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
