{% import 'Components/Macros/table-render.html.twig' as render %}

<div id="js-stock-markets-panel" class="box">
    <div class="box-body">
    </div>
    <!-- /.box-body -->
</div>

<script type="text/template" id="js-panel-{{ market.entity_name|lower|replace({' ': '_'}) }}-row-template">
    <div class="col-xs-<%= colSize %> text-left" style="border-right: 1px solid #f4f4f4">
        <span class="info-box-text"><%= symbol %></span>
        <h5 class="description-header">{{ render.render_money('price') }}</h5>
        <span class="info-box-text pull-left">{{ render.render_quantity('displayChange', 'change ? change.value : null') }}</span>
    </div>
</script>
