<div class="js-stock-market-panel box no-border">
    <div class="box-body no-padding">
        <div class="row">
            <div class="col-xs-2 text-center" style="border-right: 1px solid #f4f4f4">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
            <div class="col-xs-2 text-center" style="border-right: 1px solid #f4f4f4">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
            <div class="col-xs-2 text-center" style="border-right: 1px solid #f4f4f4">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
            <div class="col-xs-2 text-center" style="border-right: 1px solid #f4f4f4">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
            <div class="col-xs-2 text-center" style="border-right: 1px solid #f4f4f4">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
            <div class="col-xs-2 text-center">
                <span class="info-box-text">NASDAQ</span>
                <h5 class="description-header">$35,210.43</h5>
                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>

<script type="text/template" id="js-panel-{{ market.entity_name|lower|replace({' ': '_'}) }}-row-template">
</script>
